In [1]:
# importing the dependencies
import numpy as np
import pandas as pd

In [2]:
# loading the dataset to pandas dataframe
df = pd.read_csv(r"C:\Users\ajays\OneDrive\Desktop\ML\datasets\credit_data.csv")

In [3]:
# first 5 rows
df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [5]:
df['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

In [6]:
# This is highly imbalanced

# 0 -> legit
# 1 -> fraud

In [9]:
# separating the legit and fraud transcatioms

legit = df[df.Class==0]
fraud = df[df.Class==1]

In [10]:
legit.shape

(284315, 31)

In [11]:
fraud.shape

(492, 31)

In [12]:
# Under Sampling

# build a sample dataset containg similar distribution of legit and fraud transactions

In [13]:
legit_sample = legit.sample(n=492)

In [14]:
legit_sample.shape

(492, 31)

In [15]:
# Contatenate two DataFrames

new_df = pd.concat([legit_sample,fraud],axis=0)

In [17]:
new_df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
201309,133829.0,1.319872,-1.567330,0.434713,1.892665,-1.684137,0.469563,-1.009107,0.307402,2.159773,...,0.334771,0.702085,-0.068955,-0.028095,-0.367601,-0.544280,0.060591,0.028157,286.04,0
181535,125015.0,-0.425669,1.097553,-1.172961,-0.001548,-1.995164,1.202815,-2.823548,-7.969932,0.230359,...,-3.497098,2.205955,0.899762,0.000370,-1.397406,0.061699,0.366434,0.475197,198.00,0
64101,51022.0,-3.967251,-3.563263,-0.707000,2.165087,-5.288343,2.275275,5.566695,0.189539,-1.320427,...,1.125328,-0.096985,3.829249,0.145444,0.776653,-0.384935,-0.597382,0.137727,1719.71,0
154920,103629.0,1.781664,-0.751679,-0.662894,0.265228,-0.298548,0.347166,-0.692336,0.063112,2.133833,...,0.110431,0.351168,0.055451,0.186884,-0.364673,0.580000,-0.096013,-0.042291,130.00,0
130915,79459.0,-1.098633,-0.286392,2.436327,0.149593,1.263050,2.277382,-0.096027,-0.144471,1.137209,...,-0.031167,0.894555,-0.281110,-1.286473,-1.197545,0.273015,-1.027285,-0.652575,6.98,0

In [18]:
new_df.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
279863,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,...,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00,1
280143,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,...,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76,1
280149,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,...,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89,1
281144,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,...,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00,1
281674,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,0.577829,...,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53,1

In [19]:
new_df['Class'].value_counts()

0    492
1    492
Name: Class, dtype: int64